div.navbar.navbar-inverse.navbar-fixed-top
	div.navbar-inner
		div.container
			a.btn.btn-navbar(data-toggle="collapse", data-target=".nav-collapse")
				span.icon-bar
				span.icon-bar
				span.icon-bar
					a.brand(href="#")
						| OverIt!
					div.nav-collapse.collapse
						ul.nav
							
							li.active
								- if (!everyauth.loggedIn)
									a(href='/auth/twitter', style='border: 0px') Login
								- else
									a(href='http://www.twitter.com/' + #{everyauth.twitter.user.screen_name}) #{everyauth.twitter.user.screen_name}
							li
								a(href='/logout') Logout